<footer class="footer page__footer">
    <a class="footer_item" href="https://resnick.caltech.edu/" target="_blank">
        <img class="footer_img" src="img/resnick-institute.jpg" alt="Resnick Institute Logo">
    </a>
    <a class="footer_item" href="https://data.caltech.edu/" target="_blank">
        <img class="footer_img" src="img/caltech-data.svg" alt="Caltech Data Logo">
    </a>
    <a class="footer_item" href="https://lindecenter.caltech.edu/" target="_blank">
        <img class="footer_img" src="img/linde-center.png" alt="Linde Center Logo">
    </a>
</footer>