<div class="card aqi-widget">
    <div class="card__component-container">
        <div class="card__main-component aqi-widget__main-content-container">
            <h2 class="aqi-widget__title">AQI</h2>
            <p class="aqi-widget__value-label">
                <span class="aqi-widget__value-sr-text">Current value: </span>
                <span class="aqi-widget__value"></span>
            </p>
            <span class="aqi-widget__description-label">Current Air Quality</span>
            <span class="aqi-widget__description-value"></span>
        </div>
        <div class="card__sub-component aqi-widget__meter-component">
            <div 
                class="aqi-widget__meter" 
                role="meter"
                aria-label="AQI meter"
                aria-valuemin="0"
                aria-valuemax="500"
            >
                <span class="aqi-widget__meter-indicator"></span>
            </div>
            <div class="aqi-widget__meter-labels">
                <span class="aqi-widget__meter-label">0</span>
                <span class="aqi-widget__meter-label">250</span> 
                <span class="aqi-widget__meter-label">500</span>
            </div>
        </div>
    </div>
</div>