<div class="card cam-widget">
    <div class="card__component-container">
        <div class="card__main-component">
            <img 
                class="cam-widget__img" 
                src="https://caltech-hall.library.caltech.edu/north.jpg" 
                alt="Street snapshot" 
                width="1600" 
                height="811"
            >
        </div>
        <div class="card__sub-component cam-widget__header-container">
            <h2 class="cam-widget__header">LIVE CAM</h2>
        </div>
    </div>
</div>