<div class="boxy-component continued-reading-widget">
    <div class="boxy-component__component-container">
        <div class="boxy-component__main-component">
            <div class="boxy-component__main-content-container continued-reading-widget__main-content-container">
                <div class="continued-reading-widget__headlines-container">
                    <h2 class="continued-reading-widget__header">HEADLINES</h2>
                    <div class="continued-reading-widget__headline">
                        <img 
                            class="continued-reading-widget__headline-img" 
                            src="https://caltech-prod.s3.amazonaws.com/main/images/2021-Campus-Aerials-00513-WE.336e18bc.fill-1600x810-c100.jpg" 
                            alt="Headline article picture" 
                            width="1600" 
                            height="811"
                        >
                        <a class="continued-reading-widget__link" href="">Fifty Years of Clearing the Skies</a>
                    </div>
                </div>
                <div class="continued-reading-widget__divider"></div>
                <div class="continued-reading-widget__links-container">
                    <h2 class="continued-reading-widget__header">USEFUL LINKS</h2>
                    <a class="continued-reading-widget__link" href="">link 1</a>
                    <a class="continued-reading-widget__link" href="">link 2</a>
                    <a class="continued-reading-widget__link" href="">nicelonglinkthatwillbeuseful.org</a>
                </div>
            </div>
        </div>
        <div class="boxy-component__sub-component continued-reading-widget__download-text-container">
            <span class="continued-reading-widget__download-text">DOWNLOAD DATA</span>
        </div>
    </div>
</div>