<!DOCTYPE html>
<html lang="en-US" data-formula=${formula} ${if(dummy)}data-dummy${endif}>

${partials/head.html()}

<body class="page">
  ${partials/header.html()}
  <main class="page__main" role="main">
    <table class="data-table">
        <tr>
            <th scope="col" class="table__cell table__cell--header">AQI</th>
            <th scope="col" class="table__cell table__cell--header">O3 (ppbv)</th>
            <th scope="col" class="table__cell table__cell--header">PM2.5 (ug/m3)</th>
            <th scope="col" class="table__cell table__cell--header">PM10 (ug/m3)</th>
            <th scope="col" class="table__cell table__cell--header">CO (ppbv)</th>
            <th scope="col" class="table__cell table__cell--header">NO2 (ppbv)</th>
        </tr>
        <tr>
            <td class="table__cell">0</td>
            <td class="table__cell">0</td>
            <td class="table__cell">0</td>
            <td class="table__cell">0</td>
            <td class="table__cell">0</td>
            <td class="table__cell">0</td>
        </tr>
        <tr>
            <td class="table__cell">50</td>
            <td class="table__cell">54</td>
            <td class="table__cell">12</td>
            <td class="table__cell">54</td>
            <td class="table__cell">4400</td>
            <td class="table__cell">53</td>
        </tr>
        <tr>
            <td class="table__cell">100</td>
            <td class="table__cell">100</td>
            <td class="table__cell">35.4</td>
            <td class="table__cell">154</td>
            <td class="table__cell">9400</td>
            <td class="table__cell">100</td>
        </tr>
        <tr>
            <td class="table__cell">150</td>
            <td class="table__cell">164</td>
            <td class="table__cell">55.4</td>
            <td class="table__cell">254</td>
            <td class="table__cell">12400</td>
            <td class="table__cell">360</td>
        </tr>
        <tr>
            <td class="table__cell">200</td>
            <td class="table__cell">204</td>
            <td class="table__cell">150.4</td>
            <td class="table__cell">354</td>
            <td class="table__cell">15400</td>
            <td class="table__cell">649</td>
        </tr>
        <tr>
            <td class="table__cell">300</td>
            <td class="table__cell">404</td>
            <td class="table__cell">250.4</td>
            <td class="table__cell">424</td>
            <td class="table__cell">30400</td>
            <td class="table__cell">149</td>
        </tr>
        <tr>
            <td class="table__cell">400</td>
            <td class="table__cell">504</td>
            <td class="table__cell">350.4</td>
            <td class="table__cell">504</td>
            <td class="table__cell">40400</td>
            <td class="table__cell">1649</td>
        </tr>
        <tr>
            <td class="table__cell">500</td>
            <td class="table__cell">604</td>
            <td class="table__cell">500.4</td>
            <td class="table__cell">604</td>
            <td class="table__cell">50400</td>
            <td class="table__cell">2049</td>
        </tr>
    </table>
    ${body}
  </main>
  ${partials/footer.html()}
</body>

</html>