<!DOCTYPE html>
<html>

<head>
  <meta charset="UTF-8">
  <title>${title}</title>
  <meta name="robots" content="noindex">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="styles/style.css">
</head>

<body class="page">
  ${header.html()}
  <div class="top-container page__top-container">
    <div class="top-container__item">${aqi-widget.html()}</div>
    <div class="top-container__item">${cam-widget.html()}</div>
  </div>
  ${for(metrics)}${it:metric-widget.html()}${endfor}
  <div class="page__continued-reading-widget-container">${resources:continued-reading-widget.html()}</div>

  <script src="https://d3js.org/d3.v7.min.js"></script>
  <script src="scripts/LineChart.js"></script>
  <script src="scripts/main.js"></script>
</body>

</html>