<!DOCTYPE html>
<html lang="en-US">

<head>
  <meta charset="UTF-8">
  <title>${title}</title>
  <meta name="robots" content="noindex">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="styles/style.css">
</head>

<body class="page">
  ${header.html()}
  <main role="main">
    <div class="top-container page__top-container">
      <div class="top-container__item">${aqi-widget.html()}</div>
      <div class="top-container__item">${cam-widget.html()}</div>
    </div>
    ${for(pollutants)}${it:pollutant-widget.html()}${endfor}
    <div class="page__resources-widget-container">${resources-widget.html()}</div>
  </main>

  <script src="https://d3js.org/d3.v7.min.js"></script>
  <script type = "module" src="scripts/main.js"></script>
</body>

</html>