<div class="metric-widget">
    <div class="metric-widget__header-container">
        <h2 class="metric-widget__header">
            <button class="metric-widget__toggle-btn" aria-controls="${it}-panel" aria-expanded="false">
                <span class="metric-widget__toggle-icon" aria-label="Dropdown icon">${svg/triangle.svg()}</span>
                <span>${it}</span>
            </button>
        </h2>
        <span class="metric-widget__quality-label">Good</span>
        <span class="metric-widget__value-label">44</span>
        <span class="metric-widget__preview-snippet">Enjoy your outdoor activities.</span>
    </div>
    <div id="${it}-panel" class="metric-widget__panel metric-widget__panel--collapsed">
        <div class="metric-widget__description">
            <p>If you are unusually sensitive to particle pollution, consider reducing your activity level or shorten the amount of time you are active outdoors</p>
        </div>
        <div class="metric-widget__chart">
        </div>
    </div>
</div>