<div class="metric-widget page__metric-widget" data-metric="${it.metric}">
    <div class="metric-widget__top-container">
        <div class="metric-widget__labels-container">
            <h2 class="metric-widget__header">
                <button class="metric-widget__toggle-btn" aria-controls="${it.metric}-panel" aria-expanded="false">
                    <span class="metric-widget__toggle-icon" aria-label="Dropdown icon">${svg/triangle.svg()}</span>
                    <span>${it.label}</span>
                </button>
            </h2>
            <span class="metric-widget__quality-label"></span>
            <span class="metric-widget__value-label"></span>
        </div>
        <span class="metric-widget__preview-snippet"></span>
    </div>
    <div id="${it.metric}-panel" class="metric-widget__panel metric-widget__panel--collapsed">
        <div class="metric-widget__description">
            <p>If you are unusually sensitive to particle pollution, consider reducing your activity level or shorten the amount of time you are active outdoors</p>
        </div>
        ${it.metric:metric-chart.html()}
    </div>
</div>