<div class="pollutant-widget page__pollutant-widget" data-pollutant="${it.pollutant}">
    <div class="pollutant-widget__top-container">
        <div class="pollutant-widget__labels-container">
            <h2 class="pollutant-widget__header pollutant-widget__label">
                <button class="pollutant-widget__toggle-btn" aria-controls="${it.pollutant}-panel" aria-expanded="false">
                    <span class="pollutant-widget__toggle-icon">${svg/triangle.svg()}</span>
                    <span>${it.label}</span>
                </button>
            </h2>
            <p class="pollutant-widget__quality-label pollutant-widget__label"></p>
            <p class="pollutant-widget__value-label pollutant-widget__label">
                <span class="pollutant-widget__value-sr-text">Current value:</span> 
                <span class="pollutant-widget__value"></span>
            </p>
        </div>
        <p class="pollutant-widget__preview-snippet"></p>
    </div>
    <div id="${it.pollutant}-panel" class="pollutant-widget__panel">
        <div class="pollutant-widget__description">
            <p>If you are unusually sensitive to particle pollution, consider reducing your activity level or shorten the amount of time you are active outdoors</p>
        </div>
        <div class="pollutant-widget__chart-container"></div>
    </div>
</div>