<div class="pollutant-widget page__pollutant-widget" data-pollutant="${it.formula}" data-unit="${it.unit}">
    <div class="pollutant-widget__top-container">
        <h2 class="pollutant-widget__header pollutant-widget__label">
            <button class="pollutant-widget__toggle-btn" aria-controls="${it.formula}-panel" aria-expanded="false">
                <span class="pollutant-widget__toggle-icon">${svg/triangle.svg()}</span>
                <span>${it.name}</span>
            </button>
        </h2>
        <p class="pollutant-widget__aqi-label pollutant-widget__label">
            <span class="pollutant-widget__aqi"></span>
            AQI
        </p>
        <p class="pollutant-widget__concentration-label pollutant-widget__label">
            <span class="pollutant-widget__label-sr-text">Current ${it.name} concentration</span>
            <span class="pollutant-widget__concentration"></span>
            ${it.unit}
        </p>
    </div>
    <div id="${it.formula}-panel" class="pollutant-widget__panel">
        <div class="pollutant-widget__warning">
            <p class="pollutant-widget__warning-text"></p>
        </div>
        <div class="pollutant-widget__chart" tabindex="0"></div>
    </div>
</div>