<div class="card resources-widget">
    <div class="card__component-container">
        <div class="card__main-component resources-widget__main-content-container">
            <div class="resources-widget__headlines-container">
                <h2 class="resources-widget__header">HEADLINES</h2>
                <div class="resources-widget__headline">
                    <img 
                        class="resources-widget__headline-img" 
                        src="${it.headline.img}" 
                        alt="Headline article picture" 
                        width="1600" 
                        height="811"
                    >
                    <a class="resources-widget__link" href="${it.headline.link}">${it.headline.title}</a>
                </div>
            </div>
            <div class="resources-widget__divider"></div>
            <div class="resources-widget__links-container">
                <h2 class="resources-widget__header">USEFUL LINKS</h2>
                ${for(it.links)}
                    <a class="resources-widget__link" href="${it.link}">${it.title}</a>
                ${endfor}
            </div>
        </div>
        <div class="card__sub-component resources-widget__download-link-container">
            <a class="resources-widget__download-link" href="">DOWNLOAD DATA</a>
        </div>
    </div>
</div>