/* 
- Single column mobile layout: 0px - 600px
- Hybrid mobile/desktop layout: 600px - 1100px
- Normal desktop layout: 1100px
*/

body {
    margin: 32px auto;
    max-width: 1495px;
    padding: 0 16px;
}

@media (min-width:700px) {
    body {
        margin: 52px auto;
    }
}

/* header */
.header {
    margin-bottom: 12px;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: Arial;
    color: #033C49;
}

@media (min-width: 700px) {
    .header {
        margin-bottom: 58px;
        flex-direction: row;
    }
}

.header__homepage-link {
    margin-bottom: 12px;
}

@media (min-width: 700px) {
    .header__homepage-link {
        margin: 0 2em 0 0;
    }
}

@media (min-width: 1440px) {
    .header__homepage-link {
        margin: 0 3em 0 0;
    }
}

.header__caltech-logo {
    width: 7.875em;
    height: auto;
}

@media (min-width: 800px) {
    .header__caltech-logo {
        width: 10em;
    }
}

@media (min-width: 1100px) {
    .header__caltech-logo {
        width: 11.75em;
    }
}

.header__title {
    margin: 0 0 28px;
    font-size: 2em;
    font-weight: 100;
    line-height: 1;
    white-space: nowrap;
}

@media (min-width: 700px) {
    .header__title {
        margin: 0 1em 0 0;
    }
}

@media (min-width: 800px) {
    .header__title {
        font-size: 2.5em;
    }
}

@media (min-width: 1100px) {
    .header__title {
        font-size: 3.25em;
    }
}

.header__date {
    font-size: 0.875em;
    white-space: nowrap;
}

@media (min-width: 700px) {
    .header__date {
        margin-left: auto;
        color: #7b7b7b;
    }
}

@media (min-width: 800px) {
    .header__date {
        font-size: 1em;
    }
}

@media (min-width: 1100px) {
    .header__date {
        font-size: 1.125em;
    }
}

/* widgets-container */
.widgets-container {
    display: flex;
    flex-direction: column;
}

@media (min-width:600px) {
    .widgets-container {
        flex-direction: row;
        margin-bottom: 36px;
    }
}

.widgets-container__widget {
    flex: 1;
}

@media (min-width:600px) {
    .widgets-container__widget {
        margin: 0 2%;
    }
}

.widgets-container__widget:first-child {
    margin-left: 0;
}

.widgets-container__widget:last-child {
    margin-right: 0;
}

/* boxy-component */
.boxy-component {
    position: relative;
    margin-bottom: 24px;
    width: 100%;
    height: 0;
    padding-bottom: 102.5%;
    font-family: Arial;
}

@media (min-width:600px) {
    .boxy-component {
        margin-bottom: 0;
    }
}

.boxy-component__component-container {
    position: absolute;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
}

.boxy-component__main-component {
    position: relative;
    margin-bottom: 8px;
    width: 100%;
    height: 0;
    padding-bottom: 87.25%;
}

.boxy-component__main-content-container {
    position: absolute;
    box-sizing: border-box;
    width: 100%;
    height: 100%;
    border-radius: 3%;
    padding: 5%;
    overflow: hidden;
}

.boxy-component__sub-component {
    flex: 1;
    border-radius: 8px;
}

/* aqi-widget */
.aqi-widget {
    color: #033C49;
}

.aqi-widget__main-content-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: #eceaaf;
}

.aqi-widget__title {
    position: absolute;
    top: 4%;
    right: 4%;
    margin: 0;
    font-size: 1.875em;
    font-weight: 100;
}

@media (min-width: 600px) {
    .aqi-widget__title {
        font-size: 1.5em;
    }
}

@media (min-width: 1100px) {
    .aqi-widget__title {
        font-size: 1.875em;
    }
}

@media (min-width: 1440px) {
    .aqi-widget__title {
        font-size: 2.5em;
    }
}

.aqi-widget__value {
    font-size: 11.875em;
    font-weight: 600;
    line-height: 1;
}

@media (min-width: 600px) {
    .aqi-widget__value {
        font-size: 9em;
    }
}

@media (min-width: 1100px) {
    .aqi-widget__value {
        font-size: 11.5em;
    }
}

@media (min-width: 1440px) {
    .aqi-widget__value {
        margin: 24px 0;
        font-size: 15.25em;
    }
}

.aqi-widget__description-label {
    margin-bottom: 8px;
    font-size: 0.8em;
}

@media (min-width: 600px) {
    .aqi-widget__description-label {
        font-size: 1em;
    }
}

.aqi-widget__description-value {
    font-size: 1.15em;
    font-weight: 600;
}

@media (min-width: 1100px) {
    .aqi-widget__description-value {
        font-size: 1.125em;
    }
}

@media (min-width: 1440px) {
    .aqi-widget__description-value {
        font-size: 1.5em;
    }
}

.aqi-widget__meter-component {
    display: flex;
    flex-direction: column;
}

.aqi-widget__meter {
    flex: 1;
    position: relative;
    margin-bottom: 6px;
    border-radius: 8px;
    background: linear-gradient(to right, #B6E2AF, #F9E4AF, #C163D3, #8A353A);
}

@media (min-width:1100px) {
    .aqi-widget__meter {
        margin-bottom: 12px;
    }
}

.aqi-widget__meter-indicator {
    position: absolute;
    top: 0;
    left: 14.6%;
    bottom: 0;
    margin: auto;
    width: 4px;
    height: 110%;
    border: 1px solid #000;
    background: #fff;
}

.aqi-widget__meter-labels {
    display: flex;
    justify-content: space-between;
    font-size: 0.875em;
}

@media (min-width: 600px) {
    .aqi-widget__meter-labels {
        font-size: 1em;
    }
}

@media (min-width: 1440px) {
    .aqi-widget__meter-labels {
        font-size: 1.125em;
    }
}

/* cam-widget */
.cam-widget {
    color: #033C49;
}

@media (max-width:599px) {
    .cam-widget {
        padding-bottom: 40%;
    }
}

@media (max-width:599px) {
    .cam-widget__img-component {
        padding-bottom: 40%;
    }
}

@media (max-width:599px) {
    .cam-widget__img-container {
        border-radius: 8px;
    }
}

.cam-widget__img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.cam-widget__header-container {
    display: flex;
    justify-content: center;
    align-items: center;
}

@media (max-width:599px) {
    .cam-widget__header-container {
        display: none;
    }
}

.cam-widget__header {
    margin: 0;
    font-size: 1.15em;
    font-weight: 600;
    color: #033C49;
}

@media (min-width: 600px) {
    .cam-widget__header {
        font-size: 1.625em;
    }
}

/* continued-reading-widget-container */
@media (min-width:600px) and (max-width:1100px) {
    .continued-reading-widget-container {
        margin: auto;
        max-width: 48%;
    }
}

/* continue-reading-widget */
.continued-reading-widget {
    color: #000;
}

@media (max-width:600px) {
    .continued-reading-widget__main-component {
        padding-bottom: 83%;
    }
}

.continued-reading-widget__main-content-container {
    display: flex;
    flex-direction: column;
    font-size: 0.875em;
}

@media (min-width:600px) {
    .continued-reading-widget__main-content-container {
        background: #f2f2f2;
    }
}

@media (min-width: 1440px) {
    .continued-reading-widget__main-content-container {
        font-size: 1em;
    }
}

.continued-reading-widget__headlines-container {
    flex: 1;
}

.continued-reading-widget__header {
    margin: 0 0 12px;
    font-size: inherit;
    font-weight: 100;
}

.continued-reading-widget__headline-img {
    margin-right: 16px;
    width: 45%;
    height: auto;
    float: left;
}

.continued-reading-widget__link {
    color: inherit;
    text-decoration: none;
    line-height: 1.5;
}

.continued-reading-widget__divider {
    flex: 0 0 auto;
    margin: 16px 0;
    width: 100%;
    height: 2px;
    background: #d4d4d4;
}

.continued-reading-widget__links-container {
    flex: 1;
    display: flex;
    flex-direction: column;
}

.continued-reading-widget__download-link-container {
    display: flex;
    justify-content: center;
    align-items: center;
}

@media (max-width:599px) {
    .continued-reading-widget__download-link-container {
        background: #f2f2f2;
    }
}

.continued-reading-widget__download-link {
    font-size: 1.15em;
    font-weight: 600;
    color: #033C49;
    text-decoration: none;
}

@media (min-width: 600px) {
    .continued-reading-widget__download-link {
        font-size: 1.625em;
    }
}

/* metric-widget */
.metric-widget {
    box-sizing: border-box;
    margin-bottom: 12px;
    border-radius: 8px;
    padding: 8px 14px;
    background: #efefef;
    color: #033C49;
    font-family: Arial;
    transition: height 1s;
}

@media (min-width:800px) {
    .metric-widget {
        padding: 12px 16px;
    }
}

.metric-widget__header-container {
    height: 44px;
    padding: 0px 10px;
    display: flex;
    align-items: center;
}

@media (min-width:800px) {
    .metric-widget__header-container {
        height: 56px;
        padding: 0px;
    }
}

.metric-widget__primary-header-subcontainer {
    flex: 0 0 auto;
    width: 100%;
    display: flex;
    align-items: center;
}

@media (min-width:800px) {
    .metric-widget__primary-header-subcontainer {
        width: 435px;
    }
}

.metric-widget__primary-header-subcontainer * {
    flex: 1;
    text-align: center;
}

.metric-widget__header {
    margin: 0;
    font-size: 0.875em;
}

@media (min-width:800px) {
    .metric-widget__header {
        font-size: 1.075em;
    }
}

.metric-widget__toggle-btn {
    margin: 0;
    border: none;
    padding: 0;
    display: flex;
    align-items: center;
    background: none;
    color: inherit;
    font-size: inherit;
}

.metric-widget__toggle-icon {
    margin: 0 16px 0 0;
    width: 1.25em;
    height: 1.25em;
    fill: #262223;
    transition: transform 1s;
}

@media (min-width:800px) {
    .metric-widget__toggle-icon {
        margin: 0 20px 0 0;
    }
}

.metric-widget__toggle-btn[aria-expanded='true'] .metric-widget__toggle-icon {
    transform: rotate(90deg);
}

.metric-widget__quality-label, .metric-widget__value-label {
    font-size: 0.875em;
}

@media (min-width:800px) {
    .metric-widget__quality-label, .metric-widget__value-label {
        font-size: 1.075em;
    }
}

@media (max-width:799px) {
    .metric-widget__value-label {
        text-align: right;
    }
}

.metric-widget__preview-snippet {
    flex: 1;
    max-width: 300px;
    font-size: 1em;
    text-align: center;
    white-space: nowrap;
    opacity: 1;
    transition: opacity 0.25s 0.5s;
}

@media (max-width:799px) {
    .metric-widget__preview-snippet {
        display: none;
    }
}

.metric-widget__preview-snippet--hidden {
    opacity: 0;
    visibility: hidden;
    transition: opacity 0.25s, visibility 0s 1s;
}

.metric-widget__panel {
    height: 100px;
    display: flex;
    opacity: 1;
    transition: height 1s, opacity 0.25s 0.5s;
}

@media (min-width:800px) {
    .metric-widget__panel {
        height: 158px;
    }
}

.metric-widget__panel--collapsed {
    height: 0px;
    opacity: 0;
    visibility: hidden;
    transition: height 1s, opacity 0.25s, visibility 0s 1s;
}

.metric-widget__description {
    flex: 0 0 auto;
    box-sizing: border-box;
    width: 435px;
    padding: 16px 44px 0px;
    color: #000;
}

@media (max-width:799px) {
    .metric-widget__description {
        display: none;
    }    
}

.metric-widget__description p {
    margin-top: 0;
}

.metric-widget__chart {
    flex: 1;
    height: 100%;
    background: #fff;
    overflow: auto hidden;
}

@media (min-width:800px) {
    .metric-widget__chart {
        margin-top: -56px;
        height: calc(100% + 56px);
    }
}

.metric-widget__chart svg {
    display: block;
    height: 100%;
    width: auto;
}

@media (min-width:800px) {
    .metric-widget__chart svg {
        min-width: 792px;
    }
}