/* 
- Single column mobile layout: 0px - 600px
- Hybrid mobile/desktop layout: 600px - 1100px
- Normal desktop layout: 1100px
*/

/* 
CSS is written using BEM methodology (https://en.bem.info/methodology/). Order of classes does matter. This is
because BEM blocks can be redefined at different layers. For example: .header could be redefined at .page level as
.page__header. 

Blocks
- header: banner at top of site.
- aqi-widget: widget used to display current aqi value.
- cam-widget: widget used to display live cam feed.
- resources-widget: widget used to display headlines/useful links.
- card: component used to display aqi widget, live cam, and resources widget.
- top-container: container that wraps aqi, live cam, and (on desktop screen sizes) resources cards.
- pollutant-widget: accordion widget used to display individual pollutant values.
- page: container used to wrap site.
*/

/* header */
.header {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: Arial;
    gap: 12px;
}

@media (min-width: 600px) {
    .header {
        flex-direction: row;
        justify-content: center;
        flex-wrap: wrap;
        gap: 26px;
    }
}

@media (min-width: 1100px) {
    .header {
        gap: 48px;
    }
}

.header__caltech-logo {
    width: 7.875em;
    height: auto;
}

@media (min-width: 800px) {
    .header__caltech-logo {
        width: 10em;
    }
}

@media (min-width: 1100px) {
    .header__caltech-logo {
        width: 11.75em;
    }
}

.header__title {
    margin: 0;
    font-size: 2em;
    font-weight: 100;
    line-height: 1;
    color: #033C49;
    text-align: center;
}

@media (min-width: 800px) {
    .header__title {
        font-size: 2.5em;
    }
}

@media (min-width: 1100px) {
    .header__title {
        font-size: 3.25em;
    }
}

.header__date {
    margin: 16px 0 0 0;
    font-size: 0.875em;
    white-space: nowrap;
    color: #033C49;
}

@media (min-width: 600px) {
    .header__date {
        margin: 0 0 0 auto;
        color: #595959;
    }
}

@media (min-width: 800px) {
    .header__date {
        font-size: 1em;
    }
}

@media (min-width: 1100px) {
    .header__date {
        font-size: 1.125em;
    }
}

/* aqi-widget */
.aqi-widget {
    color: #033C49;
}

.aqi-widget__main-content-container {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: #eceaaf;
}

.aqi-widget__title {
    position: absolute;
    top: 4%;
    right: 4%;
    margin: 0;
    font-size: 1.875em;
    font-weight: 100;
}

@media (min-width: 600px) {
    .aqi-widget__title {
        font-size: 1.5em;
    }
}

@media (min-width: 1100px) {
    .aqi-widget__title {
        font-size: 1.875em;
    }
}

@media (min-width: 1440px) {
    .aqi-widget__title {
        font-size: 2.5em;
    }
}

.aqi-widget__value-label {
    width: 80%;
    fill: #033c49;
    font-weight: 600;
}

.aqi-widget__value {
    text-anchor: middle;
    dominant-baseline: central;
    font-size: 50px;
}

.aqi-widget--data-unavailable .aqi-widget__value {
    font-size: 12px;
}

.aqi-widget__condition-label {
    margin: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 8px;
}

.aqi-widget--data-unavailable .aqi-widget__condition-label {
    display: none;
}

.aqi-widget__condition-caption {
    font-size: 0.8em;
}

@media (min-width: 600px) {
    .aqi-widget__condition-caption {
        font-size: 1em;
    }
}

.aqi-widget__condition-value {
    font-size: 1.15em;
    font-weight: 600;
}

@media (min-width: 1100px) {
    .aqi-widget__condition-value {
        font-size: 1.125em;
    }
}

@media (min-width: 1440px) {
    .aqi-widget__condition-value {
        font-size: 1.5em;
    }
}

/* cam-widget */
.cam-widget__img {
    width: 100%;
    height: 100%;
    display: block;
    object-fit: cover;
}

.cam-widget__header-container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.cam-widget__header {
    margin: 0;
    font-size: 1.15em;
    font-weight: 600;
    color: #033c49;
}

@media (min-width: 600px) {
    .cam-widget__header {
        font-size: 1.625em;
    }
}

/* resources-widget */
.resources-widget__main-content-container {
    padding: 5%;
    display: flex;
    flex-direction: column;
    font-size: 0.875em;
}

@media (min-width:600px) {
    .resources-widget__main-content-container {
        background: #f2f2f2;
    }
}

@media (min-width: 1100px) {
    .resources-widget__main-content-container {
        font-size: 1em;
    }
}

.resources-widget__headlines-container {
    flex: 1;
}

.resources-widget__header {
    margin: 0 0 12px;
    font-size: inherit;
    font-weight: 100;
}

.resources-widget__links-list {
    margin: 0;
    padding: 0;
    list-style-type: none;
}

.resources-widget__link {
    color: inherit;
    text-decoration: none;
    line-height: 1.5;
    word-wrap: break-word;
}

.resources-widget__headline-img {
    margin-right: 16px;
    width: 45%;
    height: auto;
    float: left;
}

.resources-widget__divider {
    flex: 0 0 auto;
    margin: 16px 0;
    width: 100%;
    height: 2px;
    background: #d4d4d4;
}

.resources-widget__links-container {
    flex: 1;
    display: flex;
    flex-direction: column;
}

.resources-widget__download-link-container {
    display: flex;
    justify-content: center;
    align-items: center;
}

@media (max-width:599px) {
    .resources-widget__download-link-container {
        background: #f2f2f2;
    }
}

.resources-widget__download-link {
    font-size: 1.15em;
    font-weight: 600;
    color: #033c49;
    text-align: center;
    text-decoration: none;
}

@media (min-width: 600px) {
    .resources-widget__download-link {
        font-size: 1.625em;
    }
}

/* card */
.card {
    position: relative;
    width: 100%;
    height: 0;
    padding-bottom: max(102.5%, 21rem);
    font-family: Arial;
}

@media (max-width:599px) {
    .card--min-mobile {
        padding-bottom: 40%;
    } 
}

@media (min-width:600px) {
    .card {
        padding-bottom: 102.5%;
    }
}

.card__component-container {
    position: absolute;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.card__main-component {
    flex: 0 0 85%;
    order: 0;
    box-sizing: border-box;
    border-radius: 3%;
    overflow: auto;
}

@media (max-width:599px) {
    .card--sub-component-lg-mobile .card__main-component {
        flex: 0 0 81%;
    }
}

@media (max-width:599px) {
    .card--min-mobile .card__main-component {
        flex: 0 0 100%;
    }
}

.card__sub-component {
    flex: 1;
    order: 1;
    border-radius: 8px;
}

@media (max-width:599px) {
    .card--min-mobile .card__sub-component {
        display: none;
    }
}

/* top-container */
.top-container {
    display: flex;
    flex-direction: column;
    gap: 24px;
}

@media (min-width:600px) {
    .top-container {
        flex-direction: row;
        flex-wrap: wrap;
        gap: 24px 4%;
    }
}

.top-container__item {
    flex: 1;
}

@media (min-width:600px) {
    .top-container__item {
        flex: 0 0 48%;
        margin: auto;
        min-width: 16rem;
    }
}

@media (min-width:1100px) {
    .top-container__item {
        flex: 0 0 30.66%;
        min-width: 20rem;
    }
}

@media (min-width:1440px) {
    .top-container__item {
        min-width: 25rem;;
    }
}

/* pollutant-widget */
.pollutant-widget {
    border-radius: 8px;
    padding: 8px 14px;
    background: #efefef;
    color: #033C49;
    font-family: Arial;
}

@media (min-width:800px) {
    .pollutant-widget {
        padding: 12px 16px;
        overflow: auto hidden;
    }
}

.pollutant-widget__top-container {
    height: 2.75rem;
    padding: 0px 10px;
    display: flex;
    align-items: center;
    gap: 32px;
    font-size: 0.875em;
    overflow: auto;
}

@media (min-width:800px) {
    .pollutant-widget__top-container {
        height: 3.5rem;
        width: 27.1875rem;
        padding: 0px;
        font-size: 1.075em;
        overflow: initial;
    }
}

.pollutant-widget__label {
    flex: 1;
    margin: 0;
    text-align: center;
    white-space: nowrap;
}

.pollutant-widget__header {
    margin: 0;
    font-size: inherit;
}

.pollutant-widget__toggle-btn {
    margin: 0;
    border: none;
    padding: 0;
    display: flex;
    align-items: center;
    background: none;
    color: inherit;
    font-size: inherit;
}

.pollutant-widget__toggle-icon {
    margin: 0 16px 0 0;
    width: 1.25em;
    height: 1.25em;
    fill: #262223;
    transition: transform 1s;
}

@media (min-width:800px) {
    .pollutant-widget__toggle-icon {
        margin: 0 20px 0 0;
    }
}

.pollutant-widget__toggle-btn[aria-expanded='true'] .pollutant-widget__toggle-icon {
    transform: rotate(90deg);
}

.pollutant-widget--data-unavailable .pollutant-widget__condition-label {
    display: none;
}

.pollutant-widget__label-sr-text {
    position:absolute;
    left:-10000px;
    top:auto;
    width:1px;
    height:1px;
    overflow:hidden;
}

@media (max-width:799px) {
    .pollutant-widget__value-label {
        text-align: right;
    }
}

.pollutant-widget__panel {
    height: 0px;
    display: flex;
    opacity: 0;
    visibility: hidden;
    transition: height 1s, opacity 0.25s, visibility 0s 1s;
}

.pollutant-widget--expanded .pollutant-widget__panel {
    height: 6.25rem;
    opacity: 1;
    visibility: visible;
    transition: height 1s, opacity 0.25s 0.5s;
}

@media (min-width:800px) {
    .pollutant-widget--expanded .pollutant-widget__panel {
        height: 9.875rem;
    }
}

.pollutant-widget__warning {
    flex: 0 0 auto;
    box-sizing: border-box;
    width: 27.1875rem;
    padding: 0px 44px;
    color: #000;
    overflow: auto;
}

@media (max-width:799px) {
    .pollutant-widget__warning {
        display: none;
    }    
}

.pollutant-widget__chart-container {
    flex: 1;
    height: 100%;
    background: #fff;
    overflow: auto;
}

@media (min-width:800px) {
    .pollutant-widget__chart-container {
        position: relative;
        top: -3.5rem;
        height: calc(100% + 3.5rem);
    }

    .pollutant-widget--expanded .pollutant-widget__chart-container {
        min-width: 16rem;
    }
}

.pollutant-widget__chart {
    display: block;
    height: 100%;
    width: auto;
}

/* page */
.page {
    margin: 32px auto;
    max-width: 93rem;
    padding: 0 16px;
}

@media (min-width:600px) {
    .page {
        margin: 52px auto;
    }
}

.page__header {
    margin-bottom: 12px;
}

@media (min-width:600px) {
    .page__header {
        margin-bottom: 58px;
    }
}

.page__top-container {
    margin-bottom: 24px;
}

@media (min-width:600px) {
    .page__top-container {
        margin-bottom: 36px;
    }
}

.page__pollutant-widget {
    margin-bottom: 12px;
}

@media (min-width:600px) and (max-width:1099px) {
    .page__resources-widget-container {
        margin: auto;
        min-width: 16rem;
        max-width: 48%;
    }
}